Генериране на препоръка.
Задължителни стъпки:
1. Разучаване на научни статии и техники за построяване на препоръчващи
системи - Collaborative Filtering, Content-Based Filtering, Хибридни,
Рекурентни невронни мрежи, Автоенкодери.
2. Разглеждане на данните - брой наблюдения, брой и тип на характеристиките,
статистически зависимости в данните, аномалии в данните. Докладване и
анализ, илюстриран с подходящи визуализации и придружен с коментари.
3. Експерименти със създаване на TF-IDF вектори и използване на косинусова
близост. Сравняване с BoW (bag-of-words).
4. Експерименти с използване на алгоритъма SVD за реализация на
Collaborative Filtering. Сравняване с TF-IDF векторизацията.
5. Сравняване на горните два подхода с различни невронни мрежи, решаващи
същата задача (например една рекурентна и един автоенкодер).
6. Създаване на потребителски интерфейс с пакета streamlit. Изготвяне на
тестове, написани по начина, показан на упражнения.
7. Изготвяне на презентация, описваща подхода за реализиране на проекта